Dow

In [ ]:
# Import package
from urllib.request import urlretrieve
# Import pandas
import pandas as pd

# Assign url of file: url
url = 'https://files.digital.nhs.uk/33/8F8C1E/T201807CHEM%20SUBS.CSV'

# Save file locally
urlretrieve(url,'T201807CHEM%20SUBS.CSV')

# Read file into a DataFrame and print its head
df = pd.read_csv('T201807CHEM%20SUBS.CSV', sep=';')
print(df.head())

In [3]:
# Import package
from urllib.request import urlretrieve
# Import pandas
import pandas as pd

# Assign url of file: url
url = 'https://files.digital.nhs.uk/35/5860FD/T201807ADDR%20BNFT.CSV'

# Save file locally
urlretrieve(url,'T201807ADDR%20BNFT.CSV')
cols = [ 
    'timePeriod', 
    'practice_code', 
    'practice_name', 
    'practice_organization', 
    'street', 
    'city', 
    'area', 
    'postcode' 
]
# Read file into a DataFrame and print its head
df = pd.read_csv('T201807ADDR%20BNFT.CSV',names = cols, index_col=0)

In [4]:
df.columns

Index(['practice_code', 'practice_name', 'practice_organization', 'street',
       'city', 'area', 'postcode'],
      dtype='object')

In [5]:
df.head()

,practice_code,practice_name,practice_organization,street,city,area,postcode
timePeriod,,,,,,,
201807,A81001,THE DENSHAM SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON-ON-TEES,CLEVELAND,TS18 1HU
201807,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
201807,A81004,BLUEBELL MEDICAL CENTRE,TRIMDON AVENUE,ACKLAM,MIDDLESBROUGH,,TS5 8SB
201807,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,,TS14 7DJ
201807,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MEDICAL PRACT,TENNANT STREET,STOCKTON-ON-TEES,CLEVELAND,TS18 2AT

In [6]:
# Import package
from urllib.request import urlretrieve
# Import pandas
import pandas as pd

# Assign url of file: url
url = 'https://files.digital.nhs.uk/68/345AA6/T201807PDPI%20BNFT.CSV'

# Save file locally
urlretrieve(url,'T201807PDPI%20BNFT.CSV')

# Read file into a DataFrame and print its head
df = pd.read_csv('T201807PDPI%20BNFT.CSV', sep=';')
print(df.head())

   SHA,PCT,PRACTICE,BNF CODE,BNF NAME                                    ,ITEMS  ,NIC        ,ACT COST   ,QUANTITY,PERIOD,
0  Q44,RTV,Y04937,0204000R0AAAHAH,Propranolol HCl...
1  Q44,RTV,Y04937,0304010W0AAALAL,Promethazine HC...
2  Q44,RTV,Y04937,0401010Y0AAABAB,Zolpidem Tart_T...
3  Q44,RTV,Y04937,0401010Z0AAAAAA,Zopiclone_Tab 7...
4  Q44,RTV,Y04937,0401020B0AAAAAA,Buspirone HCl_T...