Dow

In [1]:
# Import package
from urllib.request import urlretrieve
# Import pandas
import pandas as pd

# Assign url of file: url
url = 'https://files.digital.nhs.uk/33/8F8C1E/T201807CHEM%20SUBS.CSV'

# Save file locally
# Save file locally
urlretrieve(url,'T201807CHEM%20SUBS.CSV')

# Read file into a DataFrame and print its head
chemical_names = pd.read_csv('T201807CHEM%20SUBS.CSV', index_col = 0,skiprows = 1)

chemical_names.head()

,Alexitol Sodium,
0101010A0,,
0101010B0,Almasilate ...,
0101010C0,Aluminium Hydroxide ...,
0101010D0,Aluminium Hydroxide With Magnesium ...,
0101010E0,Hydrotalcite ...,
0101010F0,Magnesium Carbonate ...,

In [2]:
chemical_names.tail(5)

,Alexitol Sodium,
0101010A0,,
2393,Accessories (Guernsey) ...,
2394,Two Piece Ostomy Systems ...,
2396,Urostomy Bags ...,
2398,Urostomy Sets ...,
2399,Ostomy Appliances R/Sub Allowed Pre 1985 ...,

In [3]:
chemical_names.columns = ['CHEM SUB','NAME']

In [4]:
chemical_names.applymap(lambda x: x.strip() if type(x) is str else x)

                                           CHEM SUB NAME
0101010A0
0101010B0                                Almasilate
0101010C0                       Aluminium Hydroxide
0101010D0        Aluminium Hydroxide With Magnesium
0101010E0                              Hydrotalcite
0101010F0                       Magnesium Carbonate
0101010G0  Co-Magaldrox(Magnesium/Aluminium Hydrox)
0101010I0                           Magnesium Oxide
0101010J0                     Magnesium Trisilicate
0101010L0    Aluminium & Magnesium & Act Simeticone
0101010M0                                Magaldrate
0101010N0        Aluminium & Magnesium & Oxetacaine
0101010P0    Co-Simalcite (Simeticone/Hydrotalcite)
0101010Q0                       Magnesium Hydroxide
0101010R0                                Simeticone
0101010S0            Calcium Carbonate & Simeticone
0101010T0                        Magnesium Sulphate
0101010U0                            Sodium Citrate
010101000          Other Antacid & Simeticone Preps
0101012A0                            Gripe Mixtures
0101012B0                        Sodium Bicarbonate
010101200            Other Sodium Bicarbonate Preps
0101021B0        Alginic Acid Compound Preparations
0101021C0                         Calcium Carbonate
0101021E0                      Bismuth Subcarbonate
010102100  Compound Alginates&Prop Indigestion Prep
0102000AA                                Clebopride
0102000AB                       Hyoscyamine Sulfate
0102000AC                          Atropine Sulfate
0102000AD                        Pinaverium Bromide
0102000AE                            Phloroglucinol
...                                             ...  ...
2260                            Night Drainage Bags
2270                             Suspensory Systems
2280                         Tubing And Accessories
2285                Insert For Female Stress Incont
2290                                 Urinal Systems
2305             Adhesive Discs/Rings/Pads/Plasters
2310             Adhesive (Pastes/Sprays/Solutions)
2315       Adhesive Removers (Sprays/Liquids/Wipes)
2320                                   Bag Closures
2325                                     Bag Covers
2330                                          Belts
2335                                 Colostomy Bags
2340                                 Colostomy Sets
2345                                     Deodorants
2346                   Discharge Solidifying Agents
2350                                Filters/Bridges
2355                                        Flanges
2360                                 Ileostomy Bags
2365                                 Ileostomy Sets
2370                  Irrigation Washout Appliances
2375                        Pressure Plates/Shields
2380                   Skin Fillers And Protectives
2385                                Skin Protectors
2390                           Stoma Caps/Dressings
2392                           Tubing & Accessories
2393                         Accessories (Guernsey)
2394                       Two Piece Ostomy Systems
2396                                  Urostomy Bags
2398                                  Urostomy Sets
2399       Ostomy Appliances R/Sub Allowed Pre 1985

[3509 rows x 2 columns]

In [5]:
chemical_names.shape

(3509, 2)

In [6]:
#chemical_names.columns
#chemical_names = chemical_names.drop(chemical_names.columns[[2]], axis=1) #Dropping column, has it has no values and only represent the month/year the dataset is relating to

In [7]:
chemical_names.head()

                                                    CHEM SUB       NAME
0101010A0
0101010B0  Almasilate                                    ...
0101010C0  Aluminium Hydroxide                           ...
0101010D0  Aluminium Hydroxide With Magnesium            ...
0101010E0  Hydrotalcite                                  ...
0101010F0  Magnesium Carbonate                           ...

In [8]:
chemical_names.tail()

                                                    CHEM SUB       NAME
0101010A0
2393       Accessories (Guernsey)                        ...
2394       Two Piece Ostomy Systems                      ...
2396       Urostomy Bags                                 ...
2398       Urostomy Sets                                 ...
2399       Ostomy Appliances R/Sub Allowed Pre 1985      ...

In [9]:
chemical_names.shape

(3509, 2)

In [10]:
chemical_names.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3509 entries, 0101010B0 to 2399
Data columns (total 2 columns):
CHEM SUB    3509 non-null object
NAME        3509 non-null object
dtypes: object(2)
memory usage: 82.2+ KB

In [11]:
#df.columns = [c.lower().replace(' ', '_') for c in df.columns] #lowers the letters and also replaces space with _
chemical_names.columns = [c.replace(' ', '_') for c in chemical_names.columns]

In [12]:
chemical_names.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3509 entries, 0101010B0 to 2399
Data columns (total 2 columns):
CHEM_SUB    3509 non-null object
NAME        3509 non-null object
dtypes: object(2)
memory usage: 82.2+ KB

In [13]:
chemical_names.NAME.value_counts(dropna = False) # no Null value counts for the names on substances

             3509
Name: NAME, dtype: int64

In [14]:
chemical_names.CHEM_SUB.value_counts(dropna = False) # correct number of vaulues, and no null values

Ephedrine Hydrochloride                                         8
Boric Acid                                                      8
Adrenaline                                                      8
Sodium Chloride                                                 7
Lidocaine Hydrochloride                                         7
Triamcinolone Acetonide                                         7
Phenol                                                          7
Salicylic Acid                                                  7
Neomycin Sulfate                                                6
Sodium Bicarbonate                                              6
Chlorhexidine Gluconate                                         6
Iodine                                                          6
Nystatin                                                        6
Hydrocortisone Acetate                                          6
Natamycin                                                       5
Prednisolone Sodium Phosphate                                   5
Zinc Oxide                                                      5
Benzalkonium Chloride                                           5
Amphotericin                                                    5
Metronidazole                                                   5
Phenylephrine Hydrochloride                                     5
Betamethasone Sodium Phosphate                                  5
Acetylcysteine                                                  5
Hydrocortisone                                                  5
Glycerol                                                        5
Hydrogen Peroxide                                               5
Fuller's Earth                                                  4
Diclofenac Sodium                                               4
Levonorgestrel                                                  4
Hyoscine Hydrobromide                                           4
                                                               ..
Gemcitabine                                                     1
Other Gel & Colloid Dressing Preps                              1
Capsaicin (Neuropathic Pain)                                    1
Moxisylyte Hydorchloride                                        1
Haemophilus Influenzae Vaccine                                  1
Ergometrine Maleate                                             1
Potassium Ascorbate                                             1
Etamivan                                                        1
Trilostane                                                      1
Other Purified Water Preps                                      1
Zinc Oleate                                                     1
Colistin Sulphate                                               1
Gluten Free/Wheat Free Bread                                    1
Aztreonam With Sodium Chloride                                  1
Pegaptanib Sodium                                               1
Foam                                                            1
Mivacurium Chloride                                             1
Rimexolone                                                      1
Other Soothing Haemorrhoidal Preps                              1
Acrivastine                                                     1
Veralipride                                                     1
Gluten Free/Wheat Free Biscuits                                 1
Lomefloxacin                                                    1
Topotecan                                                       1
Empagliflozin                                                   1
Maraviroc                                                       1
Amitriptyline Embonate                                          1
Agalsidase Beta                                                 1
Gluten Free/Low Protein Bread                                   1
Felbinac                                                        1
Name: CHEM_SUB, Length: 3000, dtype: int64

In [15]:
# Import package
from urllib.request import urlretrieve
# Import pandas
import pandas as pd

# Assign url of file: url
url = 'https://files.digital.nhs.uk/35/5860FD/T201807ADDR%20BNFT.CSV'

# Save file locally
urlretrieve(url,'T201807ADDR%20BNFT.CSV')
cols = [ 
    'timePeriod', 
    'practice_code', 
    'practice_name', 
    'practice_organization', 
    'street', 
    'city', 
    'area', 
    'postcode' 
]
# Read file into a DataFrame and print its head
practice_info = pd.read_csv('T201807ADDR%20BNFT.CSV',names = cols, index_col=0, skiprows=1)

In [16]:
practice_info.columns

Index(['practice_code', 'practice_name', 'practice_organization', 'street',
       'city', 'area', 'postcode'],
      dtype='object')

In [17]:
practice_info.applymap(lambda x: x.strip() if type(x) is str else x)

,practice_code,practice_name,practice_organization,street,city,area,postcode
timePeriod,,,,,,,
201807,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
201807,A81004,BLUEBELL MEDICAL CENTRE,TRIMDON AVENUE,ACKLAM,MIDDLESBROUGH,,TS5 8SB
201807,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,,TS14 7DJ
201807,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MEDICAL PRACT,TENNANT STREET,STOCKTON-ON-TEES,CLEVELAND,TS18 2AT
201807,A81007,BANKHOUSE SURGERY,ONE LIFE HARTLEPOOL,PARK ROAD,HARTLEPOOL,CLEVELAND,TS24 7PW
201807,A81009,VILLAGE MEDICAL CENTRE,THE VILLAGE MEDICAL CTR,400/404 LINTHORPE ROAD,MIDDLESBROUGH,CLEVELAND,TS5 6HF
201807,A81011,CHADWICK PRACTICE,ONE LIFE HARTLEPOOL,PARK ROAD,HARTLEPOOL,CLEVELAND,TS24 7PW
201807,A81012,WESTBOURNE MEDICAL CENTRE,WESTBOURNE MEDICAL CENTRE,7 TRINITY MEWS N. ORMESBY,MIDDLESBROUGH,,TS3 6AL
201807,A81013,BROTTON SURGERY,BROTTON SURGERY,ALFORD ROAD BROTTON,SALTBURN BY SEA,,TS12 2FF
201807,A81014,QUEENSTREE PRACTICE,THE HEALTH CENTRE,QUEENSWAY,BILLINGHAM,CLEVELAND,TS23 2LA
201807,A81015,LAGAN SURGERY,LAGAN SURGERY,20 KIRKLEATHAM STREET,REDCAR,CLEVELAND,TS10 1TZ
201807,A81016,PARK SURGERY,PARK SURGERY ONE LIFE,LINTHORPE ROAD,MIDDLESBROUGH,CLEVELAND,TS1 3QY
201807,A81017,WOODBRIDGE PRACTICE,THE HEALTH CENTRE,TRENCHARD AVE THORNABY,STOCKTON ON TEES,CLEVELAND,TS17 0EE
201807,A81018,BENTLEY MEDICAL PRACTICE,REDCAR PRIMARY CARE HOSP,WEST DYKE ROAD,REDCAR,CLEVELAND,TS10 4NW
201807,A81019,CROSSFELL HEALTH CENTRE,CROSSFELL ROAD,BERWICK HILLS,MIDDLESBROUGH,CLEVELAND,TS3 7RL
201807,A81020,MARTONSIDE MEDICAL CENTRE,MARTONSIDE MEDICAL CENTRE,1A MARTONSIDE WAY,MIDDLESBROUGH,CLEVELAND,TS4 3BU
201807,A81021,NORMANBY MEDICAL CENTRE,NORMANBY MEDICAL CENTRE,LOW GRANGE HV NORMANBY RD,MIDDLESBROUGH,CLEVELAND,TS6 6TD
201807,A81022,HILLSIDE PRACTICE,HILLSIDE PRACTICE,WINDERMERE DRIVE SKELTON,SALTBURN BY THE SEA,CLEVELAND,TS12 2TG
201807,A81023,THE ENDEAVOUR PRACTICE,THE HEALTH CENTRE,20 CLEVELAND SQUARE,MIDDLESBROUGH,CLEVELAND,TS1 2NX
201807,A81025,THE DOVECOT SURGERY,THE HEALTH CENTRE,LAWSON STREET,STOCKTON ON TEES,CLEVELAND,TS18 1HU
201807,A81026,LINTHORPE SURGERY,378 LINTHORPE ROAD,,MIDDLESBROUGH,CLEVELAND,TS5 6HA
201807,A81027,YARM MEDICAL PRACTICE,YARM MEDICAL PRACTICE,MULBERRY HOUSE,1 WORSALL ROAD,YARM CLEVELAND,TS15 9DD
201807,A81029,PROSPECT SURGERY,THE HEALTH CENTRE,PO BOX 101E,20 CLEVELAND SQUARE,MIDDLESBROUGH,TS1 2NX
201807,A81030,BOROUGH ROAD & NUNTHORPE MEDICAL GROUP,167A BOROUGH ROAD,,MIDDLESBROUGH,,TS1 3RY
201807,A81031,HAVELOCK GRANGE PRACTICE,ONE LIFE HARTLEPOOL,PARK ROAD,HARTLEPOOL,CLEVELAND,TS24 7PW
201807,A81032,THE GARTH,THE GARTH SURGERY,RECTORY LANE,GUISBOROUGH,CLEVELAND,TS14 7DJ
201807,A81033,OAKFIELD MEDICAL PRACTICE,378 LINTHORPE ROAD,,MIDDLESBROUGH,CLEVELAND,TS5 6HA
201807,A81034,THORNABY & BARWICK MEDICAL GROUP,THORNABY HEALTH CENTRE,TRENCHARD AVE THORNABY,STOCKTON ON TEES,CLEVELAND,TS17 0EE
201807,A81035,NEWLANDS MEDICAL CENTRE,NEWLANDS MEDICAL CENTRE,BOROUGH ROAD,MIDDLESBROUGH,CLEVELAND,TS1 3RX
201807,A81036,NORTON MEDICAL CENTRE,NORTON MEDICAL CENTRE,BILLINGHAM ROAD NORTON,STOCKTON-ON-TEES,CLEVELAND,TS20 2UZ
...,...,...,...,...,...,...,...
201807,Y06079,INTEGRATED CARE CENTRE,JEAN BISHOP CENTRE,63-69 DAVID LISTER DRIVE,HULL,,HU9 2BL
201807,Y06080,EDWIN HOUSE IPDU,EDWIN HOUSE,56 MILLERS COURT,NOTTINGHAM,,NG7 3DP
201807,Y06081,NEWARK LOCALITY EXTENDED ACCESS,LOMBARD MEDICAL CENTRE,2 PORTLAND STREET,NEWARK,NOTTINGHAMSHIRE,NG24 4XG
201807,Y06089,GENERAL SURGERY CLINIC,WITHINGTON HOSPITAL,NELL LANE,WEST DIDSBURY MANCHESTER,,M20 8LR
201807,Y06095,HERTFORDSHIRE ZTS PROVIDER,THE TREATMENT CENTRE,39 PORTMILL LANE,HITCHIN,HERTFORDSHIRE,SG5 1DJ
201807,Y06096,D-QIST CHIN ONE,OAK LODGE MEDICAL CENTRE,234 BURNT OAK BROADWAY,EDGWARE,MIDDLESEX,HA8 0AP
201807,Y06097,LEEDS NEWMEDICA OPTHALMOLOGY,ST MARTINS HOUSE,210 CHAPELTOWN ROAD,LEEDS,,LS7 4HZ
201807,Y06098,LEEDS EATING DISORDER SERVICE,REGINALD CENTRE,263 REGINALD ROAD,LEEDS,,LS7 3EX
201807,Y06099,KNOWSLEY COMMUNITY PALLIATIVE CARE TEAM,WILLOWBROOK HOSPICE,PORTICO LANE,PRESCOT,MERSEYSIDE,L34 2QT
201807,Y06107,COMMUNITY PALLIATIVE CARE MEDICAL CARE,WILLOWBROOK HOSPICE,PORTICO LANE,PRESCOT,MERSEYSIDE,L34 2QT
201807,Y06108,GP SERVICE ACCIDENT AND EMERGENCY,JAMES PAGET HOSPITAL,LOWESTOFT ROAD,GORLESTON,NORFOLK,NR31 6LA
201807,Y06110,COLTON COMMUNITY CARE,COLTON MILL MC,STILE MILL WAY,LEEDS,WEST YORKSHIRE,LS15 9JH
201807,Y06111,NORTH LEEDS MP COMMUNITY CARE,NORTH LEEDS MEDICAL PRACT,335 HARROGATE ROAD,LEEDS,WEST YORKSHIRE,LS17 6PZ
201807,Y06113,SOUTHWARK CARE HOMES-GP PRACTICE,SPA MEDICAL CENTRE,50 OLD JAMAICA ROAD,,LONDON,SE16 4BL
201807,Y06117,COMMUNITY DERMATOLOGY SOUTHWARK GSTT,GUYS HOSPITAL,GREAT MAZE POND,,LONDON,SE1 9RT
201807,Y06120,STEP UP BEDS - BEDFORD,BATTERSBY STREET,,LEIGH,LANCASHIRE,WN7 2AH
201807,Y06121,MAIDSTONE CENTRAL CLUSTER,WHARF HOUSE,MEDWAY WHARF ROAD,TONBRIDGE,KENT,TN9 1RE
201807,Y06122,PERINATAL MENTAL HEALTH,1ST FLOOR THE OLD FORGE,45-47 PEACH STREET,WOKINGHAM,BERKSHIRE,RG40 1XJ
201807,Y06125,NSC BOSWORTH HUB,BOSWORTH MEDICAL CENTRE,C/O CHELMSLEY WOOD PCC,BIRMINGHAM,,B37 5BU
201807,Y06127,COMMUNITY FRAILTY SERVICE,WHISTON HOSPITAL,WARRINGTON ROAD,PRESCOT,MERSEYSIDE,L35 5DR
201807,Y06128,HEART FAILURE SERVICE,FINGERPOST PARK HLTH CTR,ATLAS STREET,ST HELENS,,WA9 1LN
201807,Y06131,WHC,CHIPPENHAM COMMUNITY HOSP,ROWAN WEST ROWDEN HILL,CHIPPENHAM,,SN15 2AJ
201807,Y06132,BHR COMMUNITY ENT SERVICE,BRIGSTOCK FAMILY PRACTICE,83 BRIGSTOCK ROAD,THORNTON HEATH,SURREY,CR7 7JH
201807,Y06139,TRAFFORD MASTERCALL OOH,MASTERCALL HEALTH CARE,INT HSE PEPPER ROAD,STOCKPORT,,SK7 5BW
201807,Y06146,ADHD SPECIALIST NURSING TEAM,SPRINGFIELDS CENTRE,RADDLEBARN ROAD SELLY OAK,BIRMINGHAM,,B29 6JB
201807,Y06150,ENHANCED CARE TEAM,SWINTON GATEWAY,100 CHORLEY ROAD,SWINTON SALFORD,,M27 6FA
201807,Y06168,DERMATOLOGY SERVICE,CESTRIA HEALTH CENTRE,WHITEHILL WAY,CHESTER LE STREET,COUNTY DURHAM,DH2 3DJ
201807,Y06178,AQP ANTICOAG WARREN FARM HEALTH CENTRE,WARREN FARM ROAD,KINGSTANDING,BIRMINGHAM,,B44 0PU
201807,Y06192,KETTERING EXTENDED ACCESS,HUXLOW HOUSE,ST MARY'S HOSPITAL,KETTERING,NORTHAMPTONSHIRE,NN15 7PW
201807,Y06209,EUXTON HALL HOSPITAL,WIGAN ROAD,EUXTON,CHORLEY,LANCASHIRE,PR7 6DY

In [18]:
practice_info.head()

,practice_code,practice_name,practice_organization,street,city,area,postcode
timePeriod,,,,,,,
201807,A81002,QUEENS PARK MEDICAL CENTRE,QUEENS PARK MEDICAL CTR,FARRER STREET,STOCKTON ON TEES,CLEVELAND,TS18 2AW
201807,A81004,BLUEBELL MEDICAL CENTRE,TRIMDON AVENUE,ACKLAM,MIDDLESBROUGH,,TS5 8SB
201807,A81005,SPRINGWOOD SURGERY,SPRINGWOOD SURGERY,RECTORY LANE,GUISBOROUGH,,TS14 7DJ
201807,A81006,TENNANT STREET MEDICAL PRACTICE,TENNANT ST MEDICAL PRACT,TENNANT STREET,STOCKTON-ON-TEES,CLEVELAND,TS18 2AT
201807,A81007,BANKHOUSE SURGERY,ONE LIFE HARTLEPOOL,PARK ROAD,HARTLEPOOL,CLEVELAND,TS24 7PW

In [19]:
practice_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9510 entries, 201807 to 201807
Data columns (total 7 columns):
practice_code            9510 non-null object
practice_name            9510 non-null object
practice_organization    9510 non-null object
street                   9510 non-null object
city                     9510 non-null object
area                     9510 non-null object
postcode                 9510 non-null object
dtypes: object(7)
memory usage: 594.4+ KB

In [20]:
practice_info["practice_name"] = practice_info["practice_name"].map( lambda x: x.capitalize() )

In [21]:
practice_info["practice_organization"] = practice_info["practice_organization"].map( lambda x: x.capitalize() )

In [22]:
practice_info["street"] = practice_info["street"].map( lambda x: x.capitalize() )

In [23]:
practice_info["city"] = practice_info["city"].map( lambda x: x.capitalize() )

In [24]:
practice_info["area"] = practice_info["area"].map( lambda x: x.capitalize() )

In [25]:
practice_info.head()

,practice_code,practice_name,practice_organization,street,city,area,postcode
timePeriod,,,,,,,
201807,A81002,Queens park medical centre,Queens park medical ctr,Farrer street,Stockton on tees,Cleveland,TS18 2AW
201807,A81004,Bluebell medical centre,Trimdon avenue,Acklam,Middlesbrough,,TS5 8SB
201807,A81005,Springwood surgery,Springwood surgery,Rectory lane,Guisborough,,TS14 7DJ
201807,A81006,Tennant street medical practice,Tennant st medical pract,Tennant street,Stockton-on-tees,Cleveland,TS18 2AT
201807,A81007,Bankhouse surgery,One life hartlepool,Park road,Hartlepool,Cleveland,TS24 7PW

In [33]:
from urllib.request import urlretrieve
# Import pandas
import pandas as pd
import numpy as np

# Assign url of file: url
url = 'https://files.digital.nhs.uk/68/345AA6/T201807PDPI%20BNFT.CSV'

# Save file locally
urlretrieve(url,'T201807PDPI%20BNFT.CSV')
cols = ['sha', 'pct', 'practice', 'bnf_code', 'bnf_name', 'items', 'nic', 'act_cost', 'quantity', 'period']
practice_prescribing_data =  pd.read_csv('T201807PDPI%20BNFT.CSV', header=None, names=cols, index_col=False, skiprows=1).rename(columns=lambda x: x.strip())

In [35]:
practice_prescribing_data.head()

,sha,pct,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,period
0,Q44,RTV,Y04937,0204000R0AAAHAH,Propranolol HCl_Tab 10mg,1,7.24,6.73,56,201807
1,Q44,RTV,Y04937,0304010W0AAALAL,Promethazine HCl_Tab 25mg,1,2.33,2.28,28,201807
2,Q44,RTV,Y04937,0401010Y0AAABAB,Zolpidem Tart_Tab 10mg,1,0.40,0.48,14,201807
3,Q44,RTV,Y04937,0401010Z0AAAAAA,Zopiclone_Tab 7.5mg,3,0.76,1.05,28,201807
4,Q44,RTV,Y04937,0401020B0AAAAAA,Buspirone HCl_Tab 5mg,1,3.59,3.44,28,201807

In [ ]:
practice_prescribing_data.shape

In [36]:
practice_prescribing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9751491 entries, 0 to 9751490
Data columns (total 10 columns):
sha         object
pct         object
practice    object
bnf_code    object
bnf_name    object
items       int64
nic         float64
act_cost    float64
quantity    int64
period      int64
dtypes: float64(2), int64(3), object(5)
memory usage: 744.0+ MB

In [37]:
practice_prescribing_data.columns = [c.replace(' ', '_') for c in practice_prescribing_data.columns]

In [39]:
practice_prescribing_data.bnf_code.value_counts(dropna = False)

0501012G0AAABAB    7855
0603020T0AAACAC    7851
0501013B0AAABAB    7825
0103050P0AAAAAA    7736
0501030I0AAABAB    7705
0301011R0AAAPAP    7700
0401020K0AAAHAH    7637
0103050L0AAAAAA    7622
0407010H0AAAMAM    7604
0403010B0AAAGAG    7569
0403030Q0AAAAAA    7555
0304010I0AAAAAA    7553
0106040G0AAAAAA    7537
1001010P0AAAEAE    7531
0501011P0AAAJAJ    7499
0501050B0AAADAD    7498
120101050BCAAAB    7481
0206020A0AAAAAA    7450
0202020L0AABDBD    7444
0407010F0AAAHAH    7441
0304010E0AAABAB    7435
040702040AAAAAA    7429
0403030D0AAAAAA    7426
1304000V0AAADAD    7423
0403030Q0AAABAB    7420
0202020L0AABBBB    7418
0407020C0AAAEAE    7408
0103050L0AAABAB    7396
0103010T0AAAAAA    7390
0406000T0AAAGAG    7382
                   ...
22902199022           1
23300263254           1
0402010AIBBAAAA       1
20031600151           1
0602010V0AACJCJ       1
23355603884           1
23605906020           1
20050300241           1
0409010N0AAAYAY       1
22902199012           1
23301023228           1
22902199018           1
23960109824           1
1103010P0AAAAAA       1
20032500037           1
23600106250           1
21010900867           1
0904010H0BJAMAA       1
23600106327           1
23303373098           1
1002010Q0AABDBD       1
23600706131           1
23944809910           1
23301083051           1
23960109811           1
0902021S0BGABAY       1
0206020C0AAARAR       1
21270001406           1
20030200161           1
23350703710           1
Name: bnf_code, Length: 22528, dtype: int64

In [40]:
practice_prescribing_data.act_cost.value_counts(dropna = False)

6.96       16205
5.54       12279
5.58       10625
2.80        9355
5.57        9031
2.85        8973
26.00       8462
4.89        8279
3.63        8166
5.35        7985
4.47        7668
2.94        7571
2.75        7551
9.25        7536
7.90        7496
3.35        7467
5.12        7466
2.32        7390
4.84        7357
7.35        7328
16.72       7299
6.97        7182
5.02        7086
2.78        7063
6.14        7051
13.92       6946
2.79        6942
5.06        6879
3.95        6873
4.19        6843
           ...
827.56         1
820.19         1
830.06         1
2246.10        1
2249.90        1
716.69         1
707.31         1
716.44         1
819.19         1
828.81         1
828.56         1
818.69         1
829.31         1
829.06         1
829.56         1
2244.10        1
826.56         1
817.44         1
830.56         1
831.31         1
640.02         1
816.44         1
822.69         1
825.06         1
825.81         1
821.69         1
821.94         1
821.19         1
821.44         1
996.27         1
Name: act_cost, Length: 124246, dtype: int64

In [141]:
#practice_prescribing_data.QUANTITY.value_counts(dropna = False)

In [142]:
#practice_prescribing_data.ITEMS.value_counts(dropna = False)

In [42]:
practice_code= 'A81002' #"Queens park medical centre"
selected_surgery = "Queens park medical centre"
Queens_park_medical_centre_data = practice_prescribing_data[practice_prescribing_data['practice'] == practice_code].copy(deep = True)
Queens_park_medical_centre_data.head(10)

,sha,pct,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,period
365751,Q45,00K,A81002,0101010G0BBABAB,Maalox_Susp 195mg/220mg/5ml S/F,1,3.35,3.12,500,201807
365752,Q45,00K,A81002,0101021B0AAAHAH,Alginate_Raft-Forming Oral Susp S/F,3,5.66,5.29,1450,201807
365753,Q45,00K,A81002,0101021B0AAALAL,Sod Algin/Pot Bicarb_Susp S/F,3,20.48,19.05,2000,201807
365754,Q45,00K,A81002,0101021B0AAAPAP,Sod Alginate/Pot Bicarb_Tab Chble 500mg,2,6.14,5.72,120,201807
365755,Q45,00K,A81002,0101021B0BEACAH,Gaviscon_Liq Orig Aniseed Relief,3,17.37,16.26,1400,201807
365756,Q45,00K,A81002,0101021B0BEADAJ,Gaviscon Infant_Sach 2g (Dual Pack) S/F,11,167.73,156.23,522,201807
365757,Q45,00K,A81002,0101021B0BEAFAH,Gaviscon_Liq Relief Peppermint,2,11.24,10.46,750,201807
365758,Q45,00K,A81002,0101021B0BEAIAL,Gaviscon Advance_Liq (Aniseed) (Reckitt),22,146.62,136.33,14050,201807
365759,Q45,00K,A81002,0101021B0BEAQAP,Gaviscon Advance_Tab Chble Mint(Reckitt),8,38.15,35.70,672,201807
365760,Q45,00K,A81002,0101021B0BEARA0,Gaviscon Double Action_Tab Chble,4,42.68,39.67,264,201807

In [43]:
Queens_park_medical_centre_data.describe()

             items          nic     act_cost       quantity    period
count  2143.000000  2143.000000  2143.000000    2143.000000    2143.0
mean     18.044330   136.056416   127.065572    1332.459636  201807.0
std      61.709202   345.454414   321.544589    6196.375379       0.0
min       1.000000     0.030000     0.140000       1.000000  201807.0
25%       1.000000    13.210000    12.330000      30.000000  201807.0
50%       3.000000    40.160000    37.510000     112.000000  201807.0
75%       9.000000   120.135000   112.320000     511.500000  201807.0
max     891.000000  6111.000000  5674.580000  188250.000000  201807.0

In [44]:
Queens_park_medical_centre_data.quantity.max()

188250

In [45]:
Queens_park_medical_centre_data['costs_per_drug'] =  Queens_park_medical_centre_data['act_cost'] / Queens_park_medical_centre_data['quantity']
Queens_park_medical_centre_data_sorted=Queens_park_medical_centre_data.sort_values('costs_per_drug', axis=0, ascending=False, kind='quicksort', na_position='last')
Queens_park_medical_centre_data_top5 = Queens_park_medical_centre_data_sorted.head(5)
Queens_park_medical_centre_data_top5

,sha,pct,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,period,costs_per_drug
367049,Q45,00K,A81002,0803042K0AAABAB,Goserelin Acet_Implant 10.8mg Pfs,1,235.00,218.14,1,201807,218.140000
367051,Q45,00K,A81002,0803042K0BBABAB,Zoladex LA_Implant 10.8mg SafeSystem Pfs,1,235.00,218.14,1,201807,218.140000
367053,Q45,00K,A81002,0803042N0AAADAD,Leuprorelin Acet_Inj 11.25mg Dil + Pfs,3,677.16,628.58,3,201807,209.526667
367055,Q45,00K,A81002,0803042N0BBADAD,Prostap 3_DCS Inj 11.25mg Dil + Pfs,10,2257.20,2095.24,10,201807,209.524000
366951,Q45,00K,A81002,0606020Z0AAAAAA,Denosumab_Inj 60mg/1ml Pfs,5,1281.00,1304.84,7,201807,186.405714

In [46]:
Queens_park_medical_centre_data_top20 = Queens_park_medical_centre_data_sorted.head(20)
Queens_park_medical_centre_data_top20

,sha,pct,practice,bnf_code,bnf_name,items,nic,act_cost,quantity,period,costs_per_drug
367049,Q45,00K,A81002,0803042K0AAABAB,Goserelin Acet_Implant 10.8mg Pfs,1,235.00,218.14,1,201807,218.140000
367051,Q45,00K,A81002,0803042K0BBABAB,Zoladex LA_Implant 10.8mg SafeSystem Pfs,1,235.00,218.14,1,201807,218.140000
367053,Q45,00K,A81002,0803042N0AAADAD,Leuprorelin Acet_Inj 11.25mg Dil + Pfs,3,677.16,628.58,3,201807,209.526667
367055,Q45,00K,A81002,0803042N0BBADAD,Prostap 3_DCS Inj 11.25mg Dil + Pfs,10,2257.20,2095.24,10,201807,209.524000
366951,Q45,00K,A81002,0606020Z0AAAAAA,Denosumab_Inj 60mg/1ml Pfs,5,1281.00,1304.84,7,201807,186.405714
367765,Q45,00K,A81002,21280000101,Peristeen Accessory Unit,2,536.08,497.61,4,201807,124.402500
367056,Q45,00K,A81002,0803042R0AAAAAA,Degarelix_Inj 80mg Vl + Dil,5,646.85,600.55,5,201807,120.110000
366939,Q45,00K,A81002,0605010S0BBAKAF,Genotropin_Inj 5.3mg Cart,1,276.45,256.63,3,201807,85.543333
366936,Q45,00K,A81002,0604020T0AAADAD,Testosterone Undecan_Inj 250mg/ml 4ml Vl,1,87.11,80.87,1,201807,80.870000
366937,Q45,00K,A81002,0604020T0BDABAD,Nebido_Inj 1000mg/4ml Vl,8,696.88,646.88,8,201807,80.860000
367766,Q45,00K,A81002,21280000102,Peristeen Rectal Cath (10-Pack),2,342.76,318.17,4,201807,79.542500
366851,Q45,00K,A81002,0601023Y0AAABAB,Exenatide_Inj 10mcg/0.04ml 2.4mlPfP(60D),3,245.67,228.06,3,201807,76.020000
367764,Q45,00K,A81002,21280000100,Peristeen System,1,76.90,71.38,1,201807,71.380000
367054,Q45,00K,A81002,0803042N0BBACAC,Prostap SR_DCS Inj 3.75mg Dil + Pfs,8,601.92,558.79,8,201807,69.848750
367052,Q45,00K,A81002,0803042N0AAACAC,Leuprorelin Acet_Inj 3.75mg Dil + Pfs,9,677.16,628.60,9,201807,69.844444
367050,Q45,00K,A81002,0803042K0BBAAAA,Zoladex_Implant 3.6mg SafeSystem Pfs,3,195.00,181.04,3,201807,60.346667
367829,Q45,00K,A81002,23300263219,AMI_Suportx Ost/Hernia B/Able E/Peel Sup,1,59.68,55.40,1,201807,55.400000
366236,Q45,00K,A81002,0302000N0AABGBG,Fluticasone/Salmeterol_Inh 250/25mcg120D,4,237.92,220.89,4,201807,55.222500
366243,Q45,00K,A81002,0302000N0BCAFBG,Seretide 250_Evohaler 250mcg/25mcg(120D),12,832.72,773.09,14,201807,55.220714
367767,Q45,00K,A81002,21280000121,Aquaflush Compact System Monthly Set,1,58.00,53.85,1,201807,53.850000